@import "bootstrap/dist/css/bootstrap.min.css";

.sticky-navbar--active {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.swiper {
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      border: 1px solid grey;
      background: #fff;
      &-active {
        background: grey;
      }
    }
  }
}

.toy-list {
  padding-bottom: 30px;
  .swiper {
    .swiper-pagination {
      bottom: -30px;
    }
  }
}

a {
  text-decoration: none;
  color: currentColor;
}
